.card-wrapper {
	width: 30%;
	aspect-ratio: 1/1;
	// height: 340px;
	background: pink;
	object-fit: cover;
	border-radius: 10px;
}

.card__picture {
	position: absolute;
	object-fit: cover;
	overflow: hidden;
}

.card__title {
	position: absolute;
	color: white;
	z-index: 5;
}