@import '../../style/globalstyle.scss';

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 3rem;
}

.nav-container {
	display: flex;
	align-items: center;
	color: #FF6060;
	gap: 2rem;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
}

@media screen and (max-width: 900px) {
	.nav-container {
		font-size: 1rem;
		gap: 1rem;
	}

	.header-container img {
		height: 45px;
	}
}

@media screen and (max-width:550px) {
	.header-container {
		// flex-direction: column;
		margin: 0 1rem;
	}
	.nav-container {
		margin: 1.5rem 0;
	}
}

* {
	// border: 1px solid red;
	}